<div id="publicationsContainer">

    <div id="sideNavContainer">
        <div id="sideNav">
            <h4>In Page Navigation</h4>
            <ul>
                <a href="#JPH2" class="scroller-link"><li>> Journal Papers (1990-2015)</li></a>
                <ul class="subUL">
                    <a href="#JPH31" class="scroller-link"><li>At UMASS DARTMOUTH (2009-2015)</li></a>
                    <a href="#JPH32" class="scroller-link"><li>AT UMASS DARTMOUTH (2003-2009)</li>
                    <a href="#JPH33" class="scroller-link"><li>BEFORE JOINING UMASS DARTMOUTH (1991-2003)</li></a>
                </ul>
                    
                <a href="#Bh2" class="scroller-link"><li>> Proceedings / Books / Special Issue Edited (2008-2015)</li></a>
                <a href="#BCh2" class="scroller-link"><li>> Book Chapters (2008-2009)</li></a>
                
                <a href="#CPH2" class="scroller-link"><li>> Journal Papers (1990-2015)</li></a>
                <ul class="subUL">
                    <a href="#CPH31" class="scroller-link"><li>AT UMASS DARTMOUTH (2009-2015)</li></a>
                    <a href="#CPH32" class="scroller-link"><li>AT UMASS DARTMOUTH (2003-2009)</li>
                    <a href="#CPH33" class="scroller-link"><li>BEFORE JOINING UMASS DARTMOUTH (1991-2003)</li></a>
                </ul>
                    
                <a href="#TRh2" class="scroller-link"><li>> Technical Reports (1999-2008)</li></a>
                <a href="#TRPh2" class="scroller-link"><li>> Thesis and Project</li></a>
            </ul>
        </div>
    </div>
        
        
    <div id="publicationsContent">
        <h2 id="JPH2">Journal Papers (1990-2015)</h2>
        <div id="JPContainer">

            <h3 id="JPH31">At UMass Dartmouth (2009-2015)</h3>
            <i ng-click="publications.createNew($event, 'umd09JP', 'JPH31', 'At UMass Dartmouth (2009-2015)', 'Add Journal')" class="material-icons create">add_box</i>
            <div class="JPH31">
              <div class="each" ng-repeat="publication in publications.umd09JP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd09JP', 'JPH31', 'At UMass Dartmouth (2009-2015)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>

            <h3 id="JPH32">At UMass Dartmouth (2003-2009)</h3>
            <i ng-click="publications.createNew($event, 'umd03JP', 'JPH32', 'At UMass Dartmouth (2003-2009)', 'Add Journal')" class="material-icons create">add_box</i>
            <div class="JPH32">
              <div class="each" ng-repeat="publication in publications.umd03JP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd03JP', 'JPH32', 'At UMass Dartmouth (2003-2009)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>
            

            <h3 id="JPH33">Before Joining UMass Dartmouth (1991-2003)</h3>
            <i ng-click="publications.createNew($event, 'umd91JP', 'JPH33', 'Before Joining UMass Dartmouth (1991-2003)', 'Add Journal')" class="material-icons create">add_box</i>
            <div class="JPH33">
              <div class="each" ng-repeat="publication in publications.umd91JP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd91JP', 'JPH33', 'Before Joining UMass Dartmouth (1991-2003)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>
            
        </div>



        <h2 id="Bh2">Proceedings / Books / Special Issue Edited (2008-2015)</h2>
        <div id="BContainer">
          <h3>Add Proceedings / Books / Special Issue Edited (2008-2015)</h3>
          <i ng-click="publications.createNew($event, 'books', 'Bh2', 'Proceedings / Books / Special Issue Edited (2008-2015)', 'Add Book')" class="material-icons create">add_box</i>
          <div class="Bh2">
            <div class="each" ng-repeat="publication in publications.books">
              <li class="umdCard" ng-bind-html="publication._source.point"></li>
              <div class="editDelete">
                <i ng-click="editOldR($event, 'books', 'Bh2', 'Proceedings / Books / Special Issue Edited (2008-2015)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
              </div>
            </div>
          </div>
        </div>


        <h2 id="BCh2">Book Chapters (2008-2009)</h2>
        <div id="BCContainer">
          <h3>Add Book Chapters (2008-2009)</h3>
          <i ng-click="publications.createNew($event, 'bookChapters', 'BCh2', 'Book Chapters (2008-2009)', 'Add Book')" class="material-icons create">add_box</i>
          <div class="BCh2">
            <div class="each" ng-repeat="publication in publications.bookChapters">
              <li class="umdCard" ng-bind-html="publication._source.point"></li>
              <div class="editDelete">
                <i ng-click="editOldR($event, 'bookChapters', 'BCh2', 'Book Chapters (2008-2009)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
              </div>
            </div>
          </div>
        </div>

        
        
        <h2 id="CPH2">Conference Papers (1990-2015)</h2>
        <div id="CPContainer">

            <h3 id="CPH31">At UMass Dartmouth (2009-2015)</h3>
            <i ng-click="publications.createNew($event, 'umd09CP', 'CPH31', 'At UMass Dartmouth (2009-2015)', 'Add Conference')" class="material-icons create">add_box</i>
            <div class="CPH31">
              <div class="each" ng-repeat="publication in publications.umd09CP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd09CP', 'CPH31', 'At UMass Dartmouth (2009-2015)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>

            <h3 id="CPH32">At UMass Dartmouth (2003-2009)</h3>
            <i ng-click="publications.createNew($event, 'umd03CP', 'CPH32', 'At UMass Dartmouth (2003-2009)', 'Add Conference')" class="material-icons create">add_box</i>
            <div class="CPH32">
              <div class="each" ng-repeat="publication in publications.umd03CP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd03CP', 'CPH32', 'At UMass Dartmouth (2003-2009)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>

            <h3 id="CPH33">Before Joining UMass Dartmouth (1991-2003)</h3>
            <i ng-click="publications.createNew($event, 'umd91CP', 'CPH33', 'Before Joining UMass Dartmouth (1991-2003)', 'Add Conference')" class="material-icons create">add_box</i>
            <div class="CPH33">
              <div class="each" ng-repeat="publication in publications.umd91CP">
                <li class="umdCard" ng-bind-html="publication._source.point"></li>
                <div class="editDelete">
                  <i ng-click="editOldR($event, 'umd91CP', 'CPH33', 'Before Joining UMass Dartmouth (1991-2003)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                  <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
                </div>
              </div>
            </div>

        </div>


        <h2 id="TRh2">Technical Reports (1999-2008)</h2>
        <div id="TRContainer">
          <h3>Add Technical Reports (1999-2008)</h3>
          <i ng-click="publications.createNew($event, 'techReports', 'TRh2', 'Technical Reports (1999-2008)', 'Add Report')" class="material-icons create">add_box</i>
          <div class="TRh2">
            <div class="each" ng-repeat="publication in publications.techReports">
              <li class="umdCard" ng-bind-html="publication._source.point"></li>
              <div class="editDelete">
                <i ng-click="editOldR($event, 'techReports', 'TRh2', 'Technical Reports (1999-2008)', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
              </div>
            </div>
          </div>
        </div>
        
        
        <h2 id="TPh2">Thesis and Project</h2>
        <div id="TPContainer">
          <h3>Add Thesis and Project</h3>
          <i ng-click="publications.createNew($event, 'thesisProject', 'TPh2', 'Thesis and Project', 'Add Report')" class="material-icons create">add_box</i>
          <div class="TPh2">
            <div class="each" ng-repeat="publication in publications.thesisProject">
              <li class="umdCard" ng-bind-html="publication._source.point"></li>
              <div class="editDelete">
                <i ng-click="editOldR($event, 'thesisProject', 'TPh2', 'Thesis and Project', 'Edit Data', publication._id)" class="material-icons edit">edit</i>
                <i ng-click="publications.delete(publication._id, publication._type); publications.removeElement($event)" class="material-icons delete">delete</i>
              </div>
            </div>
          </div>
        </div>

        
        
    </div>
    
</div>